doctype html
html
  body
    .wrapper
      a.link(href='#')
      |       
      .about_me
      |       
      .my_photo
      |       
      .addproject
        | the tribble is never mysterious. Technically, indeed, sonic shower!The c-beam is more nanomachine now than sensor. biological and finally vital.20 Talis, alter clabulares superbe locus de
        | the tribble is never mysterious. Technically, indeed, sonic shower!The c-beam is more nanomachine now than sensor. biological and finally vital.20 Talis, alter clabulares superbe locus de

